
.colored-section
{
  background-color: #ff4c68;
}
.white-section
{
  background-color: white;
}

.Dog_heading {
  font-family: "Montserrat", sans-serif;
  size: 3 rem;
  line-height: 1.5;
}
.container-fluid {
  padding-top: 3%;
  padding-right: 10%;
  padding-left: 10%;
  height: 550.3906px;
}
.navbar-brand {
  font-size: 200%;
  font-family: "Ubuntu", sans-serif;
}
.navbar {
  padding-bottom: 4.5rem;
}
.download-btn {
  margin-right: 0.5rem;
}

#features {
  padding-top: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;
  position: relative;
  z-index: 1;
}
.title_image {
  width: 20%;
  transform: rotate(15deg);
  position: absolute;
  left: 60%;
  bottom: 1%;
}

.images_feature {
  color: #ff4c68;
  margin: auto;
}
.images_feature:hover {
  color: #fc0228;
}
.features_dog {
  font-family: "Montserrat";
}
.features_description {
  color: #8f8f8f;
  padding: 8%;
}


.features_description1 {
  text-align: center;
  padding-left: 1.5rem;
}
.price {
  color: black;
  font-family: "Montserrat-bold";
}
#testimonials {
  padding: 5rem 10rem;
  text-align: center;
 
}
.testimonial-image {
  border-radius: 100%;
  width: 17%;
  padding-top: 1rem;
}

.testimonial-text {
  color: rgb(247, 239, 239);
  font-family: "Montserrat-bold";
}
#press {
  padding-bottom: 1rem;
  text-align: center;
}
#cta {
  text-align: center;

 
  padding-top: 150px;
  padding-bottom: 150px;
}
.cta_text
{
  font-family: "Montserrat", sans-serif;
  font-size: 316%;
}

.Press_image {
  width: 12%;
  padding: 0rem 1rem;
}
.carousel-control-prev-icon {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-size: 100% 100%;
  margin-right: 70px;
}
.carousel-control-next-icon {
  display: inline-block;
  height: 30px;
  width: 30px;
  background-size: 100% 100%;
  margin-left: 70px;
}
.Price-card {
  color: black;
  font-family: "Montserrat", sans-serif;
}
#pricing {
  padding: 30px 100px;
}
@media (max-width: 500px) {
  .title_image {
    position: static;
    transform: rotate(0);
    width: 55%;
  }
  #title {
    text-align: center;
  }
  .Dog_heading {
    font-size: 27.5px;
  }
  .Press_image {
    width: 22%;
  }
  .white-section#features
{
  width: 470px;
  text-align: center;
}
}
#footer
{
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.Copyright
{
  font-size: large;
  padding-top: 17px;
  color: #8f8f8f;
  font-family: 'Ubuntu', sans-serif;
}